nav {
  background: #efefef;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

h1 {
  padding-left: 20px;
  margin: 8px 0;
}
ul {
  list-style: none;
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-items: center;
}

li {
  font-size: 1.4rem;
}
