.game_board {
  width: 70%;
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.btn {
  width: 120px;
  height: 25px;
  font-size: 1.4rem;
}

.details {
  margin-top: 40px;
  padding: 5px;
  background: #ccc;
  line-height: 2rem;
  border-radius: 5px;
}
