.nav {
  background: #efefef;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-left: 20px;
  margin: 8px 0;
}
.nav_ul {
  list-style: none;
  margin-right: 3%;
  display: flex;
  width: 18%;
  justify-content: space-around;
  align-items: center;
}

.nav_li {
  font-size: 1.4rem;
}

a:link {
  text-decoration: none;
  font-size: 1.5rem;
  color: purple;
}

a:visited {
  color: purple;
}

a:hover {
  color: purple;
}

a:active {
  color: purple;
}
